@use "../0-utilities/" as *;

.card {
    border-radius: 10px;
    margin-bottom: .5em;
    display: flex;
    flex-direction: column;
    background: rgba(171, 203, 211, 0.35);
    box-shadow: 0 5px 32px 0 $dark-blue;
    border-radius: 10px;
    border: 2px solid $dark-blue;
    h3 {
        margin: .5rem 0;
        font-size: 1em;
    }
    img {
        border-radius: 10px 10px 0 0;
        border-bottom: 2px solid $dark-blue;
    }
    &__details {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: .75rem;
        p {
            font-size: .9em;
        }
        & > div {
            padding: .25em;
        }
    }
    &__price {
        font-size: 1.5em;
        @include flex-parent(row,nowrap,space-between,center);
        p {
            letter-spacing: .15em;
            font-weight: 700;
        }
    }
    &__buttons {
        margin-top: .25em;
        border: 2px solid $dark-blue;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: .5em;
    }
}

.cartCard {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background: rgba(171, 203, 211, 0.35);
    box-shadow: 0 5px 32px 0 $dark-blue;
    border: 2px solid $dark;
    padding: .25em;
    width: min(90%, 50ch);
    &__img {
        max-width: 7rem;
        margin: auto 0;
        border:2px solid $dark-blue;
        box-shadow: 0 5px 20px 0 $dark-blue;
    }
    &__details {
        display:flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-left: 1em;
        position: relative;
        h3 {
            font-size: .9em;
            font-weight: 100;
            padding-right: 2.25em;
        }
    }
    &__price {
        display: block;
        font-size: 1.2em;
        font-weight: 800;
    }
    &__subtotal {
        font-size: .9em;
        font-weight: 800;
    }
    &__buttons {
        margin-top: .25em;
        border: 2px solid $dark-blue;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: .5em;
    }
    .quantity {
        font-size: 1.5em;
    }
    span {
        text-align: center;
    }
}

.removeItem {
    position: absolute;
    top: 4px;
    right: 4px;
}