@use "../0-utilities/" as *;

.card {
    border: 2px solid $dark;
    border-radius: 4px;
    margin-bottom: .5em;
    display: flex;
    flex-direction: column;
    background-color: $gray;
    h3 {
        margin: .5rem 0;
    }
    &__details {
        padding: .75rem;
        p {
            font-size: .9em;
        }
    }
    &__price {
        font-size: 1.5em;
        @include flex-parent(row,nowrap,space-between,center);
        p {
            letter-spacing: .15em;
            font-weight: 700;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        gap: .5em;
    }
}

.cartCard {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    border: 2px solid $dark;
    width: min(90%, 50ch);
    &__img {
        max-width: 8rem;
    }
    &__details {
        display:flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-left: 1em;
        position: relative;
        h3 {
            font-size: 1em;
        }
    }
    &__price {
        display: block;
        margin-top: 4px;
        font-size: .8em;
    }
}

.removeItem {
    position: absolute;
    top: 5px;
    right: 5px;
}