@use "../0-utilities/" as *;

#paymentForm {
    padding: 0 .5em;
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: min(100%,40rem);
    padding: .75rem;
    margin: 1rem auto;
    background-color: $gray;
    &__title {
        font-size: 1.25em;
        padding: .25rem;
        background-color: $light-blue;
        border: 2px solid $dark-blue;
        font-weight: 600;
    }
    label {
        font-size: 1.125em;
        font-weight: 600;
    }
    input {
        margin-bottom: 1rem;
    }
    input[required] {
        border-right: 5px solid red;
    }
    input:not([type="radio"]) {
        display: inline-block;
        margin-left: .5rem;
        width: min(100%, 17rem);
    }
    input:invalid {
        border-bottom: 2px dotted red;
    }
    span {
        font-size: 85%;
        color:red;
    }
}

.modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
    &__form {
        background-color: #fefefe;
        margin: 15% auto;
        padding: calc(2rem + 2vmin);
        border: 1px solid #888;
        width: min(30rem, 80%);
    }
    &__inputdivs {
        margin: 1em auto;
        label, input {
            display: block;
        }
        input {
            width: 90%;
        }
    }
    &__btnsdiv {
        margin: 0 auto;
    }
}
