@use "../0-utilities/" as *;

// #paymentForm > div {
//     display: inline-block;
//     width: 100%;
// }

.formGroup {
    display: flex;
    flex-direction: column;
    width: min(100%,40rem);
    padding: .75rem;
    margin: 1rem auto;
    background-color: $gray;
    &__title {
        font-size: 1.25em;
        padding: .25rem;
        background-color: $light-blue;
        border: 2px solid darkblue;
        font-weight: 600;
    }
    label {
        display:flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        input[required] {
            border-right: 5px solid red;
        }
        input:not([type="radio"]) {
            display: inline-block;
            margin-left: .5rem;
            width: min(100%, 17rem);
        }
        input:invalid {
            border-bottom: 2px dotted red;
        }
    }
}

