@use "../0-utilities/" as *;


i {
    font-size: 2rem;
    cursor: pointer;
}

.cartIconContainer {
    position: fixed;
    display: inline-block;
    top: 1.5rem;
    right: 7rem;
    .cart {
        display: inline-block;
        background-color: $off-white;
        width: fit-content;
        padding: calc(.25em + 1vmin) calc(.5em + 1vmin);
        border-radius: 5px;
        border: 2px solid $dark;
        position: relative;
        #cart-amount {
            position: absolute;
            top: -12px;
            right: -8px;
            color: $off-white;
            padding: 0 6px;
            background-color: $light-red;
            border: 2px solid $dark-blue;
            border-radius: 3px;
            font-weight: bold;
            font-size: 1.5em;
        }
        i {
            font-size: calc(1.5rem + 1vmin);
            text-shadow: 0 1px 3px $dark;
        }
    }
}

.removeItem {
    color: $light-red;
}

.goTop {
    top: 90vh;
    right: 25px;
    
    i {
        font-size: clamp(2.5rem, 5vw, 4rem);
        text-shadow: 0 1px 3px $dark;
        color: $light-red;
    }
    
}