@use "../0-utilities/" as *;


.mainHeader {
    width: 100%;
    padding: 1.5rem;
    background-color: $dark-blue;
    margin-bottom: 3vw;
    position: relative;
    .mainTitle {
        padding: 1rem 0;
        display: block;
        text-align: left;
        font-size: clamp(2.5rem, 12vw, 7.5rem);
    }
    .searchbar {
        margin: .5rem 0;
        padding: 1em;
        border-radius: 8px;
        border: 2px solid $off-white;
        max-width: 25rem;
        label {
            display:flex;
        }
        input {
            display: inline-block;
            width: 100%;
        }
        i {
            margin-left: .5em;
            color: $off-white;
        }
    }
}

#clearCartBtn {
    display:block;
}
