@use "../0-utilities/" as *;


.header {
    
    width: 100%;
    padding: 1.5rem;
    background-color: $dark;
    border-bottom: 2px solid $dark;
    margin-bottom: 1.5rem;
    .title {
        padding: 1rem 0;
        display: block;
        text-align: center;
        font-size: 2.5em;
    }
    .searchbar {
        margin: .5rem;
    }
}

#filters-wrapper {
    margin: .75rem 0;
    @include flex-parent(column, nowrap, space-around, start);
    .filterTitle {
        font-size: 1.25em;
        font-weight: 600;
        padding: .75rem .5rem;
        i {
            font-size: 1.2em;
        }
    }
    #filters {
        list-style: none;
        label {
            display:block;
            padding: .75rem .5rem;
        }
        button {
            padding: 5px 10px;
        }
    }
    
}

#clearCartBtn {
    display:block;
}
