@use "../0-utilities/" as *;

body {
    background: rgb(237, 248, 252);
}

section {
    .sectionHeader {
        background-color: $dark-blue;
        .title {
            font-size: 2rem;
            padding: 2rem 1rem 0;
            text-align: center;
        }
    }
}

.shop {
    width: 100%;
    padding: .5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 30ch));
    justify-content: center;
    gap: 1em;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.loadingError {
    text-align: center;
    margin: 3rem auto;
}
