@use "variables" as *;

.hidden {
    display: none;
}

.visibleFlex {
    display: flex;
}

.visibleBlock {
    display: block;
}

.centered {
    display: grid;
    place-content: center;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.textWhite {
    color: $off-white;
}

.validInput {
    border: 2px solid $light-green;
}

.invalidInput {
    border: 2px solid red;
}

.err-span {
    font-size: 85%;
    color:red;
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px solid $dark;
    margin-bottom: .5em;
    text-align:left;
}

.tooltip .top {
    min-width:250px; 
    max-width:300px;
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#EEEEEE;
    background-color:#222222;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; 
    opacity:0; 
    transition: opacity 0.8s;
    h3 {
        font-weight: 800;
    }
}

.tooltip .top-smaller {
    @extend .top;
    left: 2%;
}

.tooltip:hover .top {
    visibility:visible; 
    opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#222222;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}