@use "variables" as *;

.hidden {
    display: none;
}

.visibleFlex {
    display: flex;
}

.visibleBlock {
    display: block;
}

.centered {
    display: grid;
    place-content: center;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.textWhite {
    color: $off-white;
}

.validInput {
    border: 2px solid $light-green;
}

.invalidInput {
    border: 2px solid red;
}